### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [128]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [129]:
#total number of schools
school_total=school_data["school_name"].count()
print("Total Schools:")
print(school_total)

#total number of students
student_total= student_data["student_name"].count()
print("Total Students:")
print(student_total)

#total budget
total_budget= school_data["budget"].sum()
print("Total Budget:")
print(total_budget)

#average math score
avg_math= student_data["math_score"].mean()
print("Average Math Scores:")
print(avg_math)

#average reading score
avg_reading= student_data["reading_score"].mean()
print("Average Reading Scores:")
print(avg_reading)

Total Schools:
15
Total Students:
39170
Total Budget:
24649428
Average Math Scores:
78.98537145774827
Average Reading Scores:
81.87784018381414

In [130]:
#how many students with passing math score, 70 or above
passing_math= student_data.loc[(student_data["math_score"] >= 70)]
#print(passing_math)
passing_math_total= passing_math["math_score"].count()
print("Passing Math Students:")
print(passing_math_total)

#calculate percentage of passing math students
percent_pass_math= (passing_math_total/student_total)*100
print("Percent Students Passing Math:")
print(percent_pass_math)

Passing Math Students:
29370
Percent Students Passing Math:
74.9808526933878

In [131]:
#how many students with passing reading score, 70 or above
passing_reading= student_data.loc[(student_data["reading_score"] >= 70)]
#print(passing_reading)
passing_reading_total= passing_reading["reading_score"].count()
print("Passing Reading Students:")
print(passing_reading_total)

#calculate percentage of passing math students
percent_pass_reading= (passing_reading_total/student_total)*100
print("Percent Students Passing Reading:")
print(percent_pass_reading)

Passing Reading Students:
33610
Percent Students Passing Reading:
85.80546336482001

In [132]:
#how many students passed math AND reading with a score of 70 or above
pass_read_math= student_data.loc[(student_data["reading_score" and "math_score"] >= 70)]
#print(pass_read_math)

pass_read_math_total= pass_read_math["reading_score" and "math_score"].count()
print("Students Passing Math and Reading:")
print(pass_read_math_total)

#calculate percent of passing math and reading students
percent_pass_read_math= (pass_read_math_total/student_total)*100
print("Percent Students Passing Math and Reading:")
print(percent_pass_read_math)

Students Passing Math and Reading:
29370
Percent Students Passing Math and Reading:
74.9808526933878

In [183]:
#create a dataframe to hold all this information
district_sum= {"Total Schools": school_total,
                    "Total Students": student_total,
                    "Total Budget": total_budget,
                    "Avg Math Score": avg_math,
                    "Avg Reading Score": avg_reading,
                    "Percent Passing Math": percent_pass_math,
                    "Percent Passing Reading": percent_pass_reading,
                    "Percent Passing Both": percent_pass_read_math
                    }
district_df= pd.DataFrame([district_sum])

overall_district_df= district_df[["Total Schools", "Total Students", "Total Budget", "Avg Math Score", 
                                    "Avg Reading Score", "Percent Passing Math", "Percent Passing Reading", 
                                    "Percent Passing Both"]]
overall_district_df

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,74.980853

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [134]:
#School Name
# school_summary= school_data_complete["school_name"].value_counts()
#school_name= school_data_complete.set_index("school_name").groupby(["school_name"])
school_name= school_data_complete["school_name"].unique()
# school_name= school_data_complete["school_name"].tolist()
# school_name = school_data_complete["school_name"].sort_values().unique()

# # # #School Type
#school_type= school_data_complete.groupby(["school_name"])["type"].unique()
school_type=school_data_complete.groupby(["school_name"])["type"].unique()

# # all_schools= pd.merge(school_name, school_type, on= "school_name")
school_type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [135]:

#Total Students for each school
students_per_school= school_data_complete.groupby(["school_name"])["student_name"].count()


# #Total School budget for each school
school_budgets= school_data_complete.groupby(["school_name"])["budget"].sum()


#Per Student Budget for each school
per_student_budget= school_data["budget"]/school_data["size"]

In [136]:
#Avg math score score per school
per_school_math= school_data_complete.groupby(["school_name"])["math_score"].mean()
#per_school_math= school_name["math_score"].mean()

#Avg reading score per schoool
per_school_read= school_data_complete.groupby(["school_name"])["reading_score"].mean()

#Passing Math
#students_per_school_pass_math= school_data_complete[school_data_complete["math_score"]>= 70]
students_per_school_pass_math= school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["Student ID"].count()

#Count Passing Math, used math_score instead of student ID originally
#count_students_pass_math= students_per_school_pass_math.groupby(["school_name"]).count()

#percent passing math
percent_students_pass_math= (students_per_school_pass_math/students_per_school)*100

#reference- pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
percent_students_pass_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [137]:
#Passing Reading
students_per_school_pass_read= school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["Student ID"].count()


#Count Passing Reading, used reading_score instead of student id originally
# count_students_pass_read= students_per_school_pass_read.groupby(["school_name"])["Student ID"].count()

#percent passing reading
percent_students_pass_read= (students_per_school_pass_read/students_per_school)*100
percent_students_pass_read

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [138]:
#Passing Math And Reading
students_math_and_reading= school_data_complete[school_data_complete["reading_score" and "math_score"]>=70].groupby("school_name")["Student ID"].count()

#Count Passing Math and Reading, used reading_score and "math score" instead of student ID originally
#count_students_math_and_reading= students_math_and_reading.groupby("school_name")["Student ID"].count()

#Percent Passing Math and Reading
overall_math_and_reading= (students_math_and_reading/students_per_school)*100

#reference
#overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100
overall_math_and_reading

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [139]:
len(overall_math_and_reading)

15

In [140]:
#create dataframe
all_schools= {
                "School Name": list(school_name),
                "School Type": [s[0] for s in school_type],
                "Total Students": students_per_school,
                "Total School Budget": school_budgets,
                "Per Student Budget": per_student_budget,
                "Average Math Score": per_school_math,
                "Average Reading Score": per_school_read,
                "Percent Passing Math": percent_students_pass_math,
                "Percent Passing Reading": percent_students_pass_read,
                "Overall Passing Rate": overall_math_and_reading
                }
all_schools= {k:list(v) for k,v in all_schools.items()}
pd.DataFrame(all_schools)
# list(school_name)
# list(overall_math_and_reading)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,Huang High School,District,4976,15549641728,655.0,77.048432,81.033963,66.680064,81.933280,66.680064
1,Figueroa High School,Charter,1858,2009159448,639.0,83.061895,83.975780,94.133477,97.039828,94.133477
2,Shelton High School,District,2949,5557128039,600.0,76.711767,81.158020,65.988471,80.739234,65.988471
3,Hernandez High School,District,2739,4831365924,652.0,77.102592,80.746258,68.309602,79.299014,68.309602
4,Griffin High School,Charter,1468,1346890000,625.0,83.351499,83.816757,93.392371,97.138965,93.392371
5,Wilson High School,District,4635,14007062700,578.0,77.289752,80.934412,66.752967,80.862999,66.752967
6,Cabrera High School,Charter,427,105933149,582.0,83.803279,83.814988,92.505855,96.252927,92.505855
7,Bailey High School,District,2917,5573322295,628.0,76.629414,81.182722,65.683922,81.316421,65.683922
8,Holden High School,District,4761,14733628650,581.0,77.072464,80.966394,66.057551,81.222432,66.057551
9,Pena High School,Charter,962,563595396,609.0,83.839917,84.044699,94.594595,95.945946,94.594595
10,Wright High School,District,3999,10186904637,583.0,76.842711,80.744686,66.366592,80.220055,66.366592
11,Rodriguez High School,Charter,1761,1860672600,637.0,83.359455,83.725724,93.867121,95.854628,93.867121
12,Johnson High School,Charter,1635,1705517550,650.0,83.418349,83.848930,93.272171,97.308869,93.272171
13,Ford High School,Charter,2283,3012587442,644.0,83.274201,83.989488,93.867718,96.539641,93.867718
14,Thomas High School,Charter,1800,1888920000,638.0,83.682222,83.955000,93.333333,96.611111,93.333333

In [141]:
all_school_sum= pd.DataFrame(all_schools)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [142]:
top_five= all_school_sum.sort_values(by=["Overall Passing Rate"], ascending= False).head(5)
print(top_five)

              School Name School Type  Total Students  Total School Budget  \
9        Pena High School     Charter             962            563595396
1    Figueroa High School     Charter            1858           2009159448
13       Ford High School     Charter            2283           3012587442
11  Rodriguez High School     Charter            1761           1860672600
4     Griffin High School     Charter            1468           1346890000

    Per Student Budget  Average Math Score  Average Reading Score  \
9                609.0           83.839917              84.044699
1                639.0           83.061895              83.975780
13               644.0           83.274201              83.989488
11               637.0           83.359455              83.725724
4                625.0           83.351499              83.816757

    Percent Passing Math  Percent Passing Reading  Overall Passing Rate
9              94.594595                95.945946             94.594595
1              94.133477                97.039828             94.133477
13             93.867718                96.539641             93.867718
11             93.867121                95.854628             93.867121
4              93.392371                97.138965             93.392371

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [143]:
bottom_five= all_school_sum.sort_values(by=["Overall Passing Rate"], ascending=True).head(5)
print(bottom_five)

            School Name School Type  Total Students  Total School Budget  \
7    Bailey High School    District            2917           5573322295
2   Shelton High School    District            2949           5557128039
8    Holden High School    District            4761          14733628650
10   Wright High School    District            3999          10186904637
0     Huang High School    District            4976          15549641728

    Per Student Budget  Average Math Score  Average Reading Score  \
7                628.0           76.629414              81.182722
2                600.0           76.711767              81.158020
8                581.0           77.072464              80.966394
10               583.0           76.842711              80.744686
0                655.0           77.048432              81.033963

    Percent Passing Math  Percent Passing Reading  Overall Passing Rate
7              65.683922                81.316421             65.683922
2              65.988471                80.739234             65.988471
8              66.057551                81.222432             66.057551
10             66.366592                80.220055             66.366592
0              66.680064                81.933280             66.680064

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [144]:
math_by_grade= pd.pivot_table(student_data, values=["math_score"], index=["school_name"], columns=["grade"])
math_by_grade= math_by_grade.reindex(labels=["9th",
                                            "10th",
                                            "11th",
                                            "12th"], axis=1, level=1)  
print(math_by_grade)

                      math_score
grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [145]:
read_by_grade= pd.pivot_table(student_data, values=["reading_score"], index=["school_name"], columns=["grade"])
read_by_grade= read_by_grade.reindex(labels=["9th",
                                            "10th",
                                            "11th",
                                            "12th"], axis=1, level=1)  
print(read_by_grade)

                      reading_score
grade                           9th       10th       11th       12th
school_name
Bailey High School        81.303155  80.907183  80.945643  80.912451
Cabrera High School       83.676136  84.253219  83.788382  84.287958
Figueroa High School      81.198598  81.408912  80.640339  81.384863
Ford High School          80.632653  81.262712  80.403642  80.662338
Griffin High School       83.369193  83.706897  84.288089  84.013699
Hernandez High School     80.866860  80.660147  81.396140  80.857143
Holden High School        83.677165  83.324561  83.815534  84.698795
Huang High School         81.290284  81.512386  81.417476  80.305983
Johnson High School       81.260714  80.773431  80.616027  81.227564
Pena High School          83.807273  83.612000  84.335938  84.591160
Rodriguez High School     80.993127  80.629808  80.864811  80.376426
Shelton High School       84.122642  83.441964  84.373786  82.781671
Thomas High School        83.728850  84.254157  83.585542  83.831361
Wilson High School        83.939778  84.021452  83.764608  84.317673
Wright High School        83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [184]:
bins= [0, 585, 630, 645, 680]
spend_labels= ["<$585", "$585-630", "$630-645", "$645-680"]

In [185]:
#sort and label
school_spending_bins = pd.cut(all_school_sum['Per Student Budget'], bins, labels=spend_labels)
school_spending_bins= {"Spending Level": school_spending_bins}

#make dataframe
# school_spending_bins = pd.DataFrame({"Spending Level": school_spending_bins}, index= spend_labels)
school_spending_bins= pd.DataFrame(school_spending_bins)

#add column
all_school_sum["Spending Level"]= school_spending_bins

# copy_school_sum['School Population'] = bins_school_size
#will need to use the above to create a "Spending Level" column later
all_school_sum

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate,Spending Level,School Size
0,Huang High School,District,4976,15549641728,655.0,77.048432,81.033963,66.680064,81.933280,66.680064,$645-680,Large (2000-5000)
1,Figueroa High School,Charter,1858,2009159448,639.0,83.061895,83.975780,94.133477,97.039828,94.133477,$630-645,Medium (1000-2000)
2,Shelton High School,District,2949,5557128039,600.0,76.711767,81.158020,65.988471,80.739234,65.988471,$585-630,Large (2000-5000)
3,Hernandez High School,District,2739,4831365924,652.0,77.102592,80.746258,68.309602,79.299014,68.309602,$645-680,Large (2000-5000)
4,Griffin High School,Charter,1468,1346890000,625.0,83.351499,83.816757,93.392371,97.138965,93.392371,$585-630,Medium (1000-2000)
5,Wilson High School,District,4635,14007062700,578.0,77.289752,80.934412,66.752967,80.862999,66.752967,<$585,Large (2000-5000)
6,Cabrera High School,Charter,427,105933149,582.0,83.803279,83.814988,92.505855,96.252927,92.505855,<$585,Small (<1000)
7,Bailey High School,District,2917,5573322295,628.0,76.629414,81.182722,65.683922,81.316421,65.683922,$585-630,Large (2000-5000)
8,Holden High School,District,4761,14733628650,581.0,77.072464,80.966394,66.057551,81.222432,66.057551,<$585,Large (2000-5000)
9,Pena High School,Charter,962,563595396,609.0,83.839917,84.044699,94.594595,95.945946,94.594595,$585-630,Small (<1000)
10,Wright High School,District,3999,10186904637,583.0,76.842711,80.744686,66.366592,80.220055,66.366592,<$585,Large (2000-5000)
11,Rodriguez High School,Charter,1761,1860672600,637.0,83.359455,83.725724,93.867121,95.854628,93.867121,$630-645,Medium (1000-2000)
12,Johnson High School,Charter,1635,1705517550,650.0,83.418349,83.848930,93.272171,97.308869,93.272171,$645-680,Medium (1000-2000)
13,Ford High School,Charter,2283,3012587442,644.0,83.274201,83.989488,93.867718,96.539641,93.867718,$630-645,Large (2000-5000)
14,Thomas High School,Charter,1800,1888920000,638.0,83.682222,83.955000,93.333333,96.611111,93.333333,$630-645,Medium (1000-2000)

In [186]:
#do the thing
scores_by_school_spending = all_school_sum.groupby(['Spending Level'])['Average Reading Score',
                                                         'Average Math Score',
                                                         'Percent Passing Reading',
                                                         'Percent Passing Math',
                                                         'Overall Passing Rate'
                                                         ].mean().sort_values("Spending Level")
scores_by_school_spending

/var/folders/m9/dkd7jysn3j1_6nmlygcx6tdw0000gn/T/ipykernel_29567/1349866580.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  scores_by_school_spending = all_school_sum.groupby(['Spending Level'])['Average Reading Score',

,Average Reading Score,Average Math Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
Spending Level,,,,,
$585-630,82.550549,80.133149,88.785141,79.914839,79.914839
$630-645,83.911498,83.344443,96.511302,93.800412,93.800412
$645-680,81.876383,79.189791,86.180387,76.087279,76.087279
<$585,81.615120,78.752051,84.639603,72.920741,72.920741

## Scores by School Size

* Perform the same operations as above, based on school size.

In [180]:
#find the data
bins1= [0, 1000, 2000, 5000]
size_labels= ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [181]:
school_size_bins = pd.cut(all_school_sum['Total Students'], bins1, labels=size_labels)
school_size_bins= {"School Size": school_size_bins}

#make dataframe
school_size_bins = pd.DataFrame(school_size_bins)

#add column
all_school_sum["School Size"]= school_size_bins

#test it
all_school_sum

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate,Spending Level,School Size
0,Huang High School,District,4976,15549641728,655.0,77.048432,81.033963,66.680064,81.933280,66.680064,$620-$655,Large (2000-5000)
1,Figueroa High School,Charter,1858,2009159448,639.0,83.061895,83.975780,94.133477,97.039828,94.133477,$620-$655,Medium (1000-2000)
2,Shelton High School,District,2949,5557128039,600.0,76.711767,81.158020,65.988471,80.739234,65.988471,$579-$599,Large (2000-5000)
3,Hernandez High School,District,2739,4831365924,652.0,77.102592,80.746258,68.309602,79.299014,68.309602,$620-$655,Large (2000-5000)
4,Griffin High School,Charter,1468,1346890000,625.0,83.351499,83.816757,93.392371,97.138965,93.392371,$620-$655,Medium (1000-2000)
5,Wilson High School,District,4635,14007062700,578.0,77.289752,80.934412,66.752967,80.862999,66.752967,$2-$578,Large (2000-5000)
6,Cabrera High School,Charter,427,105933149,582.0,83.803279,83.814988,92.505855,96.252927,92.505855,$579-$599,Small (<1000)
7,Bailey High School,District,2917,5573322295,628.0,76.629414,81.182722,65.683922,81.316421,65.683922,$620-$655,Large (2000-5000)
8,Holden High School,District,4761,14733628650,581.0,77.072464,80.966394,66.057551,81.222432,66.057551,$579-$599,Large (2000-5000)
9,Pena High School,Charter,962,563595396,609.0,83.839917,84.044699,94.594595,95.945946,94.594595,$600-$619,Small (<1000)
10,Wright High School,District,3999,10186904637,583.0,76.842711,80.744686,66.366592,80.220055,66.366592,$579-$599,Large (2000-5000)
11,Rodriguez High School,Charter,1761,1860672600,637.0,83.359455,83.725724,93.867121,95.854628,93.867121,$620-$655,Medium (1000-2000)
12,Johnson High School,Charter,1635,1705517550,650.0,83.418349,83.848930,93.272171,97.308869,93.272171,$620-$655,Medium (1000-2000)
13,Ford High School,Charter,2283,3012587442,644.0,83.274201,83.989488,93.867718,96.539641,93.867718,$620-$655,Large (2000-5000)
14,Thomas High School,Charter,1800,1888920000,638.0,83.682222,83.955000,93.333333,96.611111,93.333333,$620-$655,Medium (1000-2000)

In [182]:
#poop that thing out
scores_by_school_size = all_school_sum.groupby(['School Size', 'School Name'])['Average Reading Score',
                                                         'Average Math Score',
                                                         'Percent Passing Reading',
                                                         'Percent Passing Math',
                                                         'Overall Passing Rate'
                                                         ].mean().sort_values(['School Size', 'School Name'])
scores_by_school_size

/var/folders/m9/dkd7jysn3j1_6nmlygcx6tdw0000gn/T/ipykernel_29567/3873840036.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  scores_by_school_size = all_school_sum.groupby(['School Size', 'School Name'])['Average Reading Score',

                                          Average Reading Score  \
School Size        School Name
Large (2000-5000)  Bailey High School                 81.182722
                   Ford High School                   83.989488
                   Hernandez High School              80.746258
                   Holden High School                 80.966394
                   Huang High School                  81.033963
                   Shelton High School                81.158020
                   Wilson High School                 80.934412
                   Wright High School                 80.744686
Medium (1000-2000) Figueroa High School               83.975780
                   Griffin High School                83.816757
                   Johnson High School                83.848930
                   Rodriguez High School              83.725724
                   Thomas High School                 83.955000
Small (<1000)      Cabrera High School                83.814988
                   Pena High School                   84.044699

                                          Average Math Score  \
School Size        School Name
Large (2000-5000)  Bailey High School              76.629414
                   Ford High School                83.274201
                   Hernandez High School           77.102592
                   Holden High School              77.072464
                   Huang High School               77.048432
                   Shelton High School             76.711767
                   Wilson High School              77.289752
                   Wright High School              76.842711
Medium (1000-2000) Figueroa High School            83.061895
                   Griffin High School             83.351499
                   Johnson High School             83.418349
                   Rodriguez High School           83.359455
                   Thomas High School              83.682222
Small (<1000)      Cabrera High School             83.803279
                   Pena High School                83.839917

                                          Percent Passing Reading  \
School Size        School Name
Large (2000-5000)  Bailey High School                   81.316421
                   Ford High School                     96.539641
                   Hernandez High School                79.299014
                   Holden High School                   81.222432
                   Huang High School                    81.933280
                   Shelton High School                  80.739234
                   Wilson High School                   80.862999
                   Wright High School                   80.220055
Medium (1000-2000) Figueroa High School                 97.039828
                   Griffin High School                  97.138965
                   Johnson High School                  97.308869
                   Rodriguez High School                95.854628
                   Thomas High School                   96.611111
Small (<1000)      Cabrera High School                  96.252927
                   Pena High School                     95.945946

                                          Percent Passing Math  \
School Size        School Name
Large (2000-5000)  Bailey High School                65.683922
                   Ford High School                  93.867718
                   Hernandez High School             68.309602
                   Holden High School                66.057551
                   Huang High School                 66.680064
                   Shelton High School               65.988471
                   Wilson High School                66.752967
                   Wright High School                66.366592
Medium (1000-2000) Figueroa High School              94.133477
                   Griffin High School               93.392371
                   Johnson High School               93.272171
                   Rodriguez High School             93.867121
                   Thomas High School                93.333333
Small (<1000)      Cabrera High School               92.505855
                   Pena High School                  94.594595

                                          Overall Passing Rate
School Size        School Name
Large (2000-5000)  Bailey High School                65.683922
                   Ford High School                  93.867718
                   Hernandez High School             68.309602
                   Holden High School                66.057551
                   Huang High School                 66.680064
                   Shelton High School               65.988471
                   Wilson High School                66.752967
                   Wright High School                66.366592
Medium (1000-2000) Figueroa High School              94.133477
                   Griffin High School               93.392371
                   Johnson High School               93.272171
                   Rodriguez High School             93.867121
                   Thomas High School                93.333333
Small (<1000)      Cabrera High School               92.505855
                   Pena High School                  94.594595

## Scores by School Type

* Perform the same operations as above, based on school type

In [179]:
#Repeat the last part, but change it to type
scores_by_school_type = all_school_sum.groupby(['School Type'])['Average Reading Score',
                                                         'Average Math Score',
                                                         'Percent Passing Reading',
                                                         'Percent Passing Math',
                                                         'Overall Passing Rate'
                                                         ].mean().sort_values(['School Type'])
scores_by_school_type

/var/folders/m9/dkd7jysn3j1_6nmlygcx6tdw0000gn/T/ipykernel_29567/4220309283.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  scores_by_school_type = all_school_sum.groupby(['School Type'])['Average Reading Score',

,Average Reading Score,Average Math Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
School Type,,,,,
Charter,83.896421,83.473852,96.586489,93.620830,93.620830
District,80.966636,76.956733,80.799062,66.548453,66.548453